.jumbotron{
  text-align: center;
  background-color: rgb(30, 30, 37);
  color: aliceblue;
 }
.img-circle{
  /* border-radius:50%; */
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top:40px;
}
#title{
  text-align: center
}
table{
  border: 2px solid black;
  border-collapse: collapse;
  border-style: outset;
  border-width:5px;
  width:50%;
  height: 100%;
  text-align: center;
  margin-left: 420px;
}
td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
 }
tr:nth-child(even) {
  background-color: grey;
 }
 tr:nth-child(odd) {
  background-color: grey;
 }
.label{
  text-align: center
 }
a{
  float: right;
}

hr{
 box-shadow: 0 0 10px 1px black;
 margin-top: 50px;
}
#view{
float: left;
margin-left: 183px;
}
.line{
 width: 20px;
}
.card-header{
text-align: center;
margin-top: 20px;
font-size: 35px;
font-family: 'Chewy', cursive;
}
/* @keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
} */
.card{
/* background-color: rgba(252, 252, 252, 0.5); */
}
.card-body{
text-align: center;
}
h1{
font-family: 'Baloo Bhai', cursive;
}
h2{
animation: shake 0.5s;
animation-iteration-count: infinite; 
font-weight: bold;
}
.card-title{
font-family: 'Boogaloo', cursive;
color: blue;
font-family: sans-serif;
}
.posi{
  
margin-left: 720px;
padding: 200px;
}
/* .posi1{
  
/* margin-right: 300px; */
/* padding: 10px;
}
.posi2{ */
  
/* margin-right: 300px; */
/* padding: 10px;
}
.posi3{ */
  
/* margin-right: 300px; */
/* padding: 10px;
} */ */

a{
text-align: center
}
.card-text{
color: black
}